*.o
.DS_Store
.*.swp
/env
/dl
/.config
/.config.old
/.toolchain_build_ver
/bin
/build_dir
/staging_dir
/tmp
/logs
/feeds
/feeds.conf
/files
/target/linux/feeds
/overlay
/package/feeds
/package/openwrt-packages
/*.patch
/llvm-bpf*
key-build*
private-key.pem
public-key.pem
*.orig
*.rej
*~
.#*
*#
.emacs.desktop*
TAGS*~
git-src
.project
.cproject
.ccache
.vscode*

# mooleshacat

# nusciance
*.apk
*.img
*.itb
*.ubi
*.bin.md5
*.dts.md5
*.tar.gz
fw_tew-829dru_v1(1.0.3.12).zip
*-squashfs-*.bin

# proprietary
board.bin
board-2.bin
caldata.bin
firmware-5.bin
full_nand_*.bin
boardData_1_0_IPQ4019_DK04_2G.bin
boardData_1_0_IPQ4019_DK04_5G.bin
boardData_QCA9984_CUS239_5G_v1_001.bin
extracted.bin
kernel-uImage.bin
TEW-829DRU_v1.0.3.12.bin
pre-cal-ahb-a000000.wifi.bin
pre-cal-ahb-a800000.wifi.bin
chunk_*.bin
part*.bin
TEW-829DRU*.bin
extracted.dtb
*flashdump.bin

# secret(s)
*_PAC*
